{{>layout/header}}

<!-- Page Content-->
<section class="py-5">
    <div class="text-center mb-5">
        <h1 class="fw-bolder">Image Board</h1>
        <p class="lead fw-normal text-muted mb-0">free upload your image</p>
    </div>
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form id="form" enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description" name="description" style="height: 10rem"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="file">File</label>
                        <input type="file" class="form-control" id="file" name="file" accept="image/*" onchange="loadImageFile();">
                        <img id="original-Img" hidden/>
                        <img id="upload-Preview"/>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="button" id="btn-image-save" disabled>
                            <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"></span>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container px-5">
        <h2 class="fw-bolder fs-5 mb-4">Image Stories({{items.totalElements}})</h2>
        <div class="row gx-5">
            {{#items}}
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        {{#imagePath}}<img class="card-img-top" src="{{imagePath}}" alt="..."/>{{/imagePath}}
                        {{^imagePath}}<img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..."/>{{/imagePath}}
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            {{#title}}<a class="text-decoration-none link-dark stretched-link" href="/image/{{id}}"><div class="h5 card-title mb-3">{{title}}</div></a>{{/title}}
                            {{^title}}<a class="text-decoration-none link-dark stretched-link" href="/image/{{id}}"><div class="h5 card-title mb-3"></div></a>{{/title}}
                            {{#description}}<p class="card-text mb-0">{{description}}</p>{{/description}}
                            {{^description}}<p class="card-text mb-0"></p>{{/description}}
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">{{modifiedBy}}</div>
                                        {{#modifiedDate}}<div class="text-muted">{{modifiedDate}}</div>{{/modifiedDate}}
                                        {{^modifiedDate}}<div class="text-muted">####-##-##T##:##:##</div>{{/modifiedDate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/items}}
        </div>

        <div class="text-end mb-5 mb-xl-0">
            <div class="text-center mb-3">
                <p class="text-muted">{{items.pageable.pageNumber}} Page</p>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {{#pageIndex}}
                        <li class="page-item"><a class="page-link" href="/image?page={{index}}&size=9&sort=modifiedDate,desc">{{index}}</a></li>
                    {{/pageIndex}}
                </ul>
            </nav>
        </div>
    </div>
</section>

<script src="/js/image/image.js"></script>

{{>layout/footer}}