{{>layout/header}}

<script>

    function firstUpper(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }

    $(function(){
        $("#accordionExample").empty();
        $("#accordionExample2").empty();

        $("#btn-json-convert").on('click', function () {
              var jsonString = $("#floatingTextarea1").val();
              $.ajax({
                   type : 'POST',
                   url : '/json/convert',
                   //contentType : 'application/json; charset=utf-8',
                   contentType : 'application/x-www-form-urlencoded; charset=utf-8',
                   data : {
                    "name" : "test",
                    "jsonString" : jsonString
                   },
                   dataType : 'json'
              }).done(function (data) {
                   $("#accordionExample").empty();
                   $.each(data, function(key, value){
                        console.log(key, value);
                        var tmpHtml = "";
                        tmpHtml += '<div class="accordion-item">';
                        tmpHtml += '<h3 class="accordion-header" id="heading'+key+'"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse'+key+'" aria-expanded="true" aria-controls="collapse'+key+'">'+firstUpper(key)+'.java</button></h3>';
                        tmpHtml += '<div class="accordion-collapse collapse show" id="collapse'+key+'" aria-labelledby="heading'+key+'" data-bs-parent="#accordionExample">';
                        tmpHtml += '<div class="accordion-body">';
                        tmpHtml += 'public class '+firstUpper(key)+'{';
                        tmpHtml += '<br/>';
                        $.each(value, function(index){
                            tmpHtml += '\u00A0\u00A0\u00A0';
                            console.log(value[index]);
                            tmpHtml += value[index];
                            tmpHtml += '<br/>';
                        });
                        tmpHtml += '}';
                        tmpHtml += '</div>';
                        tmpHtml += '</div>';
                        tmpHtml += '</div>';
                        console.log(tmpHtml);
                        $("#accordionExample").append(tmpHtml);
                   });

              }).fail(function (error) {
                   console.log(error);
                   alert(JSON.stringify(error));

              });
        });


    });
</script>

    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="container-fluid">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Converter</h1>
                    <p class="lead fw-normal text-muted mb-0">DTO classes will be created from the input text</p>
                </div>
                <div class="d-grid mb-5">
                            <textarea class="form-control"
                                      style="height:20rem"
                                      placeholder="put xml or json text here&#13;&#10;&#13;&#10;(ex)&#13;&#10;<response>&#13;&#10; <header>&#13;&#10;  <resultCode>00</resultCode>&#13;&#10;  <resultMsg>success</resultMsg>&#13;&#10; </header>&#13;&#10; <body>&#13;&#10; </body>&#13;&#10;</response>"
                                      id="floatingTextarea1"></textarea>
                </div>
                <div class="d-grid mb-5">
                    <button type="button" class="btn btn-outline-success" id="btn-json-convert">Conversion</button>
                </div>
            </div>


            <div class="row gx-5">
                    <!-- FAQ Accordion 1-->
                    <h2 class="fw-bolder mb-3">DTO</h2>
                    <div class="accordion mb-5" id="accordionExample">
                    </div>
                    <!-- FAQ Accordion 2-->
                    <h2 class="fw-bolder mb-3">Entity</h2>
                    <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                    </div>
            </div>
        </div>
    </section>

{{>layout/footer}}