</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto" include-html="/layout/footer.html"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- common.js 추가(API 호출) -->
<script src="/js/app/common.js"></script>
<!-- commonMenu.js 추가(메뉴바 구성) -->
<script type="text/javascript" src="/js/menu/commonMenu.js"></script>

</body>
</html>