<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404오류</title>
</head>
<body>
status: {{status}}
path: {{path}}
timestamp: {{timestamp}}
exception: {{exception}}
message: {{message}}
</body>
</html>