<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Index Page</title>
</head>
<body>
<h1>Welcome!</h1>
<h3>{{message}}</h3>
<p>Click <a href="/index.html">here</a> to see a AutoCoding</p>
</body>
</html>