<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content />
    <meta name="author" content />
    <title>AutoCodingPark - Web Page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/myfavicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Account Registration</h1>
                <p class="lead fw-normal text-muted mb-0">Welcome to AutoCoding</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form action="/join" method="POST">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" name="username" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Username</label>
                            <div class="invalid-feedback" data-sb-feedback="username:required">A name is required.</div>
                        </div>
                        <!-- Password input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password..." data-sb-validations="required" />
                            <label for="name">Password</label>
                            <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="role" id="role1" value="ROLE_ADMIN,ROLE_FAMILY,ROLE_USER">
                                <label class="form-check-label" for="role1">
                                    Admin
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="role" id="role2" value="ROLE_FAMILY,ROLE_USER" checked>
                                <label class="form-check-label" for="role2">
                                    FAMILY
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="role" id="role3" value="ROLE_USER">
                                <label class="form-check-label" for="role3">
                                    USER
                                </label>
                            </div>
                        </div>
                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<h1> Join Page </h1>-->
<!--<form action="/join" method="POST">-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--    <input type="text" name="username" placeholder="username" autofocus/>-->
<!--    <br/>-->
<!--    <input type="password" name="password" placeholder="password"/>-->
<!--    <br/>-->
<!--    <input type="text" name="email" placeholder="email"/>-->
<!--    <br/>-->
<!--    <input type="radio" name="role" value="ROLE_ADMIN,ROLE_FAMILY,ROLE_USER"> Admin-->
<!--    <input type="radio" name="role" value="ROLE_FAMILY,ROLE_USER"> Family-->
<!--    <input type="radio" name="role" value="ROLE_USER" checked="checked"> User-->
<!--    <br/>-->
<!--    <button type="submit">가입하기</button>-->
<!--</form>-->
<!--<a href="/loginForm">로그인</a>-->
</body>
</html>