<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
</head>
<body>
<h1> Login Page </h1>
<hr/>
<form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="text" name="username" placeholder="username" autofocus/>
    <br/>
    <input type="password" name="password" placeholder="password"/>
    <button type="submit">Login</button>
</form>
<a href="/joinForm">회원 가입</a>
</body>
</html>