<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>

<script>
    $(function(){

        $('#myForm').submit(function(event) {
            $.ajaxSetup({
                headers: {
                    "X-CSRF-Token" : $('input[name="_csrf"]').attr('value')
                }
            });

            var myFormData = {
                username : $('#username').val(),
                password : $("#password").val()
            };

            $.ajax({
                type : 'POST',
                url : '/signin',
                contentType : 'application/x-www-form-urlencoded; charset=utf-8',
                data : myFormData,
                dataType : 'text'
            }).done(function (data) {
                <!--alert("login success");-->
                window.location.href = '/';
            }).fail(function (error) {
                var errText;
                if(JSON.stringify(error.status)==401){
                    errText="Invalid username or password";
                }else{
                    errText="UnKnown error";
                }
                alert("login fail : "+errText);
            });

            event.preventDefault();
        });
    });
</script>

<div class="container">
    <form class="form-signin" id="myForm">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
<div class="container px-5 mb-3">
    <div class="row justify-content-center">
        <a href="/oauth2/authorization/kakao"><img src="https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_narrow.png"></a>
    </div>
</div>
<div class="container px-5 mb-2">
    <div class="row justify-content-center">
        With GitHub: <a href="/oauth2/authorization/github">click here</a>
    </div>
    <!--    <div class="row justify-content-center">-->
    <!--        <a href="/oauth2/authorization/github"><img src="assets/gitlogin.JPG"></a>-->
    <!--    </div>-->
</div>
<div class="container px-5">
    <div class="row justify-content-center">
        <a href="/joinForm">Sign up</a>
        {{#imagePath}}<p>{{errMsg}}</p>{{/imagePath}}
    </div>
</div>




<!--<h1> Login Page </h1>-->
<!--<hr/>-->
<!--<form action="/login" method="POST">-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--    <input type="text" name="username" placeholder="username" autofocus/>-->
<!--    <br/>-->
<!--    <input type="password" name="password" placeholder="password"/>-->
<!--    <button type="submit">Login</button>-->
<!--</form>-->
<!--<a href="/joinForm">회원 가입</a>-->
<!--</body>-->
<!--</html>-->